<nav class="navbar navbar-light bg-dark">
  <div class="container justify-content-start cajaLogoHog">
    <img class="logoHog" src="../../../assets/images/hogwarts.png" alt="">
  </div>
  <form class="container justify-content-end cajaBotones">
    <button class="btn btn-outline-primary mx-1" type="button" [routerLink]="[ './' ]">Inicio</button>
    <button class="btn btn-sm btn-outline-secondary mx-1" type="button" [routerLink]="[ '/estudiantes' ]">Estudiantes</button>
    <button class="btn btn-sm btn-outline-secondary mx-1" type="button" [routerLink]="[ '/profesores' ]">Profesores</button>
    <button class="btn btn-sm btn-outline-secondary mx-1" type="button" [routerLink]="[ '/nuevos-estudiantes' ]">¡Regístrate!</button>
  </form>
</nav>
